/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The real stuff */

body {
	background-color:#efefef;
	font-family: serif;
	font-size:62.5%;
	color:#333;
}

h1 {
	font-size:5em;
	letter-spacing: -0.04em;
	text-align:center;
	margin:1em 0;
}

.meal-heading {
	text-transform:lowercase;
	font-size: 4em;
}

form {
}

form h2 {
	cursor:pointer;
	background-position: 20px 50%;
	background-image:  url('/static/arrow.png');
	background-repeat: no-repeat;
	width:100%;
	padding:20px 20px 20px 70px;
	height:40px;
}

form h2:nth-child(4n+4) {
	background-color:#ee9800;
}

form h2:nth-child(4n+2) {
	background-color:#931810;
	color:#efefef;
}

form input.submit {
    font-size: 3.5em;
    left: 50%;
    margin-left: -150px;
    position: relative;
    width: 300px;
    background-color: #0e5f7e;
    color:#efefef;
	border:none;
	padding:0.3em;
	margin-top: 1em;
	cursor:pointer;
}

.clearfix {
	clear:both !important;
}

.meal-vote {
	background-image:none;
	background-color:transparent;
	background-position: 0 0;
	height:180px;
	background-repeat: repeat;
	clear:both;
	cursor:pointer;
	display:none;
	overflow:hidden;
}

.meal-vote:nth-child(4n+1) {
	background-image:url("/static/yellow_bg.png");
}

.meal-vote:nth-child(4n+3) {
	background-image:url("/static/red_bg.png");
	color:#efefef;
}	

.meal-vote ul {
	position:relative;
}

.meal-vote ul li:first-child {
	clear:both;
	width:100%;
	/*display:none;*/
}

.meal-vote p {
	display:none;
}

.meal-vote ul li {
    display: block;
    float: left;
    padding: 1em 0;
    width: 33%;
}

.meal-vote input[type="radio"] {
	display:none;
}

.meal-vote label {
    cursor: pointer;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    position: relative;
    text-indent: -99999px;
    width: 100px;
	border:10px solid #eee;
}

.meal-vote li:nth-child(1) label {
    height: 64px;
    left: 20px;
    margin: 0;
	width:64px;
    position: absolute;
    top: 54px;
	background-image: url('/static/cancel-on.png');
	border:none;
}

.meal-vote li:nth-child(1) input:checked + label {
	background-image: url('/static/cancel.png') !important;
	border:none;
}

.meal-vote li:nth-child(2) label {
    background-image: url("/static/down.png");
}

.meal-vote li:nth-child(3) label {
    background-image: url("/static/even.png");
}

.meal-vote li:nth-child(4) label {
    background-image: url("/static/up.png");
}

.meal-vote input:checked + label {
	border: 10px solid #0e5f7e; 
}

h2.open {
	background-image: url('/static/arrow-down.png');
}

#keypad, 
#form {
	margin:0 auto;
	width:300px;
}

#keypad div.number,
#keypad div.backspace {
	background-color:#fff;
	cursor:pointer;
	font-size:2em;
	font-weight:bold;
	float:left;
	margin:10px;
	text-align:center;
    	height: 80px;
}

#keypad div.number {
    font-size: 4em;
    line-height: 80px;
    width: 80px;
}

#keypad div.backspace {
	line-height:75px;
	width: 180px;
}

form#login {
	clear:both;
}

form#login p {
	display:none;
}

div#room_number {
	font-size:5em;
	font-weight:bold;
	height:100px;
	width:300px;
	margin:0 auto;
	text-align:center;
}

form#login input.submit-login {
	border:none;
	color:#efefef;
	background-color:#0E5F7E;
	width:200px;
	outline:0;
	cursor:pointer;
	height:70px;
	font-size: 3em;
	display:block;
	margin:0 auto;
}
/* Bar charts! */
.bar-chart {
    height: 20px;
    width:300px;
    font-size: 12px;
    vertical-align: middle;
    line-height: 20px;
}

.bar-chart .bar {
    height:20px;
    float:left;
    color: #FFF;

}

.bar-text-padding {
    padding-left: 5px;
}

.bar-chart .positive-bar {
    background-color: green;
}

.bar-chart .negative-bar {
    background-color: red;
}

.bar-chart .neutral-bar {
    background-color: orange;
    color: #000;
}

.vote-count {

}
.stats-table {
    font-size: 12px;
}

.stats-table thead {
    height: 30px;
}
.stats-meal-row {
    height: 30px;
}
