<!DOCTYPE html>
<html lang="en">
<head>
	<title>You shouldn't be seeing this</title>
	{% block meta %}
	<meta name="viewport" content="initial-scale=1, maximum-scale=1 user-scalable=0">
	{% endblock %}
	<link rel="stylesheet" href="/static/{#{STATIC_URL}#}bff.css"/>
	<script type="text/javascript" src="//use.typekit.net/mrv4xev.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35373213-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    <script type="text/javascript">
        {% block javascript %}
        {% endblock %}
    </script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript"> 
		jQuery(function($) {
			$("h2.meal-heading").click(function() {
				$(this).next().slideToggle("fast");	
				$(this).toggleClass('open');
			});

			$("form#login input#id_room_number").val('');

			$("div.number").click(function() {
				currentVal = $("form#login input#id_room_number").val();
				newValue = currentVal + $(this).text();
				$("form#login input#id_room_number").val(newValue);
				$("#room_number").text(newValue);
			});

			$("div.backspace").click(function() {
				currentVal = $("form#login input#id_room_number").val();
				newValue = currentVal.slice(0,-1);
				$("form#login input#id_room_number").val(newValue);
				$("#room_number").text(newValue);
			});

            $('#id_room_number').focus(function(){
                $("label[for='id_room_number']").addClass("focused");
                $("ul.errorlist").hide();
                $("input.submit-login").css({"display":"block"});
            });

//            $('#id_room_number').blur(function(){
//                $("label[for='id_room_number']").removeClass("focused");
//            });

            $('input.invisibleSubmit').focus(function(){
                $("form#login").submit();
            });

		}); 
	</script>
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>
