{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}login.css"/>
{% endblock %}

{% block javascript %}
    jQuery(function($) {
        $("form#login input#id_room_number").val('');

        $('#id_room_number').focus(function(){
            $("label[for='id_room_number']").addClass("focused");
            $("ul.errorlist").hide();
            $("input.submit-login").css({"display":"block"});
        });

        $('input.invisibleSubmit').focus(function(){
            $("form#login").submit();
        });
    });
{% endblock %}

{% block content %}
    <div id="header">
        Give feedback for tonight's meal!
    </div>
	<div id="form"><form id="login" action="/" method="post" autocomplete="off">{% csrf_token %}
		{{ form }}
        <input type="text" class="invisibleSubmit" name="ignore_me" value="" />
		<input type="submit" class="submit-login" value="login" />
	</form></div>
{% endblock %}

{% block meta %}
<meta name="viewport" content="width=800, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endblock %}