{% extends 'stats_index.html' %}

{% block title %}Search Results for &quot;{{ query }}&quot;{% endblock %}

{% block main %}

	{% if results %}
		<h1>Search Results for &quot;{{ query }}&quot;</h1>
		<table class="stats-table">
			<thead>
			<tr><th>Meal</th><th>Serve Date</th><th>Overview</th></tr>
			</thead>
			<tbody>
			{% for meal in results %}
				<tr class="stats-meal-row">
					<td><a href="{% url stats meal.date.year meal.date.month meal.date.day %}">{{ meal.meal.name }}</a></td>
					<td><a href="{% url stats meal.date.year meal.date.month meal.date.day %}">{{ meal.date }}</a></td>
					<td><div class="bar-chart">
						{% if meal.total > 0 %}
							<div class="bar positive-bar" style="width: {{ meal.pos_pc }}px;">
								{% if meal.positive %}<span class="bar-text-padding">{{ meal.positive }}</span>{% endif %}
							</div>
							<div class="bar neutral-bar" style="width: {{ meal.neu_pc }}px;">
								{% if meal.neutral %}<span class="bar-text-padding">{{ meal.neutral }}</span>{% endif %}
							</div>
							<div class="bar negative-bar" style="width: {{ meal.neg_pc }}px;">
								{% if meal.negative %}<span class="bar-text-padding">{{ meal.negative }}</span>{% endif %}
							</div>
						{% else %}
							No ratings
						{% endif %}
					</div></td>
				</tr>
			{% endfor %}
			</tbody>

		</table>

		{% if paginator.has_previous %}
			<a href="?query={{ query }}&category={{ category }}&page={{ paginator.previous_page_number }}">Back</a>
		{% endif %}
		{% if paginator.has_next %}
			<a href="?query={{ query }}&category={{ category }}&page={{ paginator.next_page_number }}">Next</a>
		{% endif %}
	{% endif %}
{% endblock %}