{% extends 'stats_index.html' %}

{% block title %}Report for {{ date }}{% endblock %}

{% block main %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart", 'columnchart']});
		google.setOnLoadCallback(drawCharts);
		function drawCharts() {
			var data = google.visualization.arrayToDataTable([
				['Rating', 'Votes'],
				['Positive',    		{{ totals.positive }}],
				['Neutral',	{{ totals.neutral }}],
				['Negative',	{{ totals.negative }}]
			]);

			var options = {
                backgroundColor: { fill:'transparent' },
                colors: ['green', 'orange', 'red']
            };

			var chart = new google.visualization.PieChart(document.getElementById('overall-pie-chart'));
			chart.draw(data, options);


			var data_2 = google.visualization.arrayToDataTable([
				['Year', 'Positive', 'Neutral', 'Negative'],
				{% for meal in meals %}
				['{{ meal.meal.name }}',  {{ meal.positive }}, {{ meal.neutral }}, {{ meal.negative }}],
				{% endfor %}
			]);

			var options_2 = {
				hAxis: {title: 'Meal'},
                backgroundColor: { fill:'transparent' },
                colors: ['green', 'orange', 'red']
			};

			var chart_2 = new google.visualization.ColumnChart(document.getElementById('meals-column-chart'));
			chart_2.draw(data_2, options_2);
		}


	</script>
    <h1>Report for {{ date }}</h1>
    <div class="quicklinks">Jump to: <a href="#overall">Overall Satisfaction</a><a href="#per-meal">Per Meal</a></div>
    <div class="navigation">
        {% if prev %}
            <a href="{% url stats prev.year prev.month prev.day %}">&laquo; {{ prev }}</a>
        {% endif %}
        {% if next %}
            <a href="{% url stats next.year next.month next.day %}">{{ next }} &raquo; </a>
        {% endif %}
    </div>
    <h2>Overview:</h2>
    <div id="average" class="{{ color }}">{{ average }}%</div>
    <div class="subtext">This is the percentage of votes that rated a meal positively</div>
    <div id="total">{{ totals.total }} votes were collected</div>

    <h2 id="overall">Overall Satisfaction:</h2>
	<div id="overall-pie-chart" class="graph" style="min-height: 400px"></div>

    <h2 id="per-meal">Breakdown per Meal:</h2>
	<div id="meals-column-chart" class="graph" style="min-height: 400px"></div>

{#	{% for meal in meals %}#}
{#		<h2>{{ meal.meal.name }}</h2>#}
{#		<ul>#}
{#			<li>Positive: {{ meal.positive }}</li>#}
{#			<li>Neutral: {{ meal.neutral }}</li>#}
{#			<li>Negative: {{ meal.negative }}</li>#}
{#		</ul>#}
{#	{% endfor %}#}

{% endblock %}