{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}vote.css"/>
{% endblock %}

{% block content %}
<h1>What did you have tonight?</h1>
<form method="post" action="">
		{{ formset.management_form }}
		{% for form in formset %}
			<h2 class="meal-heading">{{ form.meal.name }}</h2>
			<div class="meal-vote">
				{{ form.as_p }}

				<div class="clearfix"></div>
			</div>
		{% endfor %}
		{% csrf_token %}
		<input type="submit" value="&gt; submit feedback &lt;" class="submit"/>
</form>
{% endblock %}
